@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body {
    overflow-x: hidden;
  }
*{
    margin:0;
    padding:0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
    
}
/* HEADER */
#header {
    height: 70px;
    width: 100%;
    background-color: #EEEEFF;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.06) ;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
height: auto;
padding: 15px 50px;
width: 150px;
float: left;
}
#Menus{
    width: 400px;
    height: 70px;
    float: left;
    margin-left: 600px;
}
ul{
 float: left; 
 display: flex;
 align-items: center;
 justify-content: center;

}
#Menus li{
    list-style: none;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
   
}
#Menus li a{
    text-decoration: none;
    color: #3a4a56;
   transition: 0.3s ease;
}
#mobile {
    display: none;
    align-items: center;
}
#bar2{
    display: none;
    align-items: center;
}
#Menus li a:hover,
#Menus li a.active{
    color: rgb(8, 129, 120);
  
    
}
#Menus li a.active::after,
#Menus li a:hover::after{
    content:"";
    width: 30px;
    height: 2px;
    background-color: rgb(8, 129, 120);
    position: absolute;
    bottom: -4px;
    left: 1px;
  
}
/* PRIMERA SECCION */
#FirstSection {
    width: 100%;
    height: 650px;
    background: linear-gradient(rgba(238,238,255,0)50%, rgba(238,238,255,0)50%), url(img/fondo.png);
    background-position: center;
    background-size: cover;
  
  
}
.FsectionContent { 
    display:grid;
    align-content: center;
  margin-left: 5%;
    height: 350px;
    width: 400px;
       
}

.FsectionContent h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;

}
h2{
    font-size: 40px;
    font-weight: bolder;
    color: #000000;
}
h1{
    font-size: 40px;
    color: rgb(8, 129, 120);
}
p{
    font-size: 15px;
    color: gray;
    
    
}
.FsectionContent .btn{
    border: none;
    background: url(img/button.png);
    color: rgb(8, 129, 120);
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    width: 200px;
    cursor: pointer;
}
/* SECCION DE FEATURES */
#features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#features .fe_box{
    width: 170px;
    padding: 25px 15px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(70,62,221,0.1);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 20px 15px;
}
#features .fe_box img{
width: 100%;
margin-bottom: 10px;
}
#features .fe_box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.3);
}
#features .fe_box h6{
    display: inline-block;
    padding: 10px 5px 10px 5px;
    color: rgb(8, 129, 120);
    border-radius: 4px;
    background-color: #fddde4;
    line-height: 1;
    font-weight: bolder;
}
#features .fe_box:nth-child(2) h6{
    background-color: #AdFde5;   
}
#features .fe_box:nth-child(3) h6{
    background-color: #Adfd4a;   
}
#features .fe_box:nth-child(4) h6{
    background-color: #edF2a5;   
}
#features .fe_box:nth-child(5) h6{
    background-color: #F29FF5;   
}
#features .fe_box:nth-child(6) h6{
    background-color: #cecb2f;   
}
/* PRODUCTOS FEATURED */
#products {
    text-align: center;
    padding: 40px 30px;
   
}
#products .pro_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#products .pro {
    background-color: #ffffff;
   height: 330px;
   width: 260px;
    padding: 10px 15px;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;  
    margin-top: 30px;

}
#products .pro .img{
   width: 230px;
   height: 200px;
   border-radius: 10px;
}
#products .pro .description{
    text-align: left;
    line-height: 25px;
}
#products .pro .description span{
    font-size: 12px;
    color: gray;
}

#products .pro .star img{
   filter: invert(50%)
   sepia(90%)
   saturate(500%)
}
#products .pro h4{
    color: rgb(5, 150,200)
 }
 #products .pro .cart{
    display: block;
    margin: -40px 185px;
    background-color: rgb(200,200,200);
    width: 40px;
    padding: 8px;
    border-radius: 100%;
    transition: 0.5s ease;
 }
 #products .pro:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.3);
 }
 #products .pro .cart:hover{
    background-color: #7ab92dd0;
    
 }
/* PEQUENO BANNER */
#banner {
    width: 100%;
    height: 200px;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(img/Banner/b2.jpg);
    color: #ffffff;
}
#banner .content{
    text-align: center;
    margin-top: 40px;
    line-height: 35px;
    font-weight: bold;
}
#banner .content h3{
    font-size: 25px;
}
#banner .content span{
    color: rgb(177, 55, 55);
}
#banner .content .btn{
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: 0.5s ease;
}
#banner .content .btn:hover {
    background-color: rgb(8, 129, 120) ;
    color: #fddde4;
}

#promobanner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 55px;
}

#promobanner .banner_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
    height: 330px;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0)50%, rgba(0,0,0,0)50%), url(img/Banner/b17.jpg);
   text-align: left;
    
}
#promobanner .banner_box2{
    background: linear-gradient(to top, rgba(0,0,0,0)50%, rgba(0,0,0,0)50%), url(img/Banner/b10.jpg);
}
#promobanner .banner_box h4 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 250;
}
#promobanner .banner_box h2{
    color: #ffffff;
    font-weight: bolder;
    font-size: 35px;
}
#promobanner .banner_box span{
    color: #ffffff;
}
#promobanner .banner_box button{
    background: transparent;
    margin-top: 20px;
    color: #ffffff;
    border-color: #EEEEFF;
    width: 150px;
    border-width: 1px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
}
#promobanner .banner_box:hover button{
    background-color: rgb(8, 129, 120) ;
    color: #fddde4;
}
#prombanner2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 55px;
}
#prombanner2 .banner_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    min-width: 30%;
    height: 250px;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0)50%, rgba(0,0,0,0)50%), url(img/Banner/b7.jpg);
   
}
#prombanner2 .banner_box2 {
    background: linear-gradient(to top, rgba(0,0,0,0)50%, rgba(0,0,0,0)50%), url(img/Banner/b4.jpg);   
    background-position: center;
    background-size: cover;
}
#prombanner2 .banner_box3{
    background: linear-gradient(to top, rgba(0,0,0,0)50%, rgba(0,0,0,0)50%), url(img/Banner/b18.jpg);
    background-position: center;
    background-size: cover;
}
#prombanner2 .banner_box h2{
    color: white;
    font-weight:bolder;
    font-size: 22px;
}
#prombanner2 .banner_box h3{
    color: rgb(199, 27, 27);
    font-size: 15px;
}

#newsletter{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    height: 150px;
    background-image:url(img/Banner/b14.png); 
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42; 
    line-height: 30px;
}
#newsletter .content h4{
    color: #ffffff;
    font-size: 22px;
}
#newsletter .content span{
    color: #ffbd27;

}
#newsletter .form{
    display: flex;
    width: 40%;
    
}
#newsletter .form input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}
#newsletter .form button{
    background-color: rgb(8, 129, 120);
    border: none;
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
    width: 150px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
footer {
    height: 450px;
    padding: 50px 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    line-height: 30px;
    
}
footer .about a{
    display: grid;
    font-size: 15px;
    color: gray;
    text-decoration: none;
}
footer .account a{
    display: grid;
    font-size: 15px;
    color: gray;
    text-decoration: none;
}
footer .app .row img:nth-child(1){
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}
footer .app .row img:nth-child(2){
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}
footer .copyright{
    width: 100%;
   text-align: center;
}

/* Crear el responsive design */

@media (max-width:799px) {
#Menus {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
}
#bar2{
margin-top: -70px;
display: initial;
align-items: center;
height: 38px;
position: absolute;

}
#Menus.active{
    right: 0px;
}
#Menus li a {
    right: -300px;
}

#Menus li{
    margin-bottom: 35px;
}
#mobile {
    
    display:flex;
    justify-content: right;
    align-items: right;
    padding: 20px 20px 0 0;
    
}
#mobile img{
    height: 38px;
}
#FirstSection{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
}
#features{
    justify-content: center;;
}
#features .fe_box{
    margin: 15px 15px;
}
#products .pro_container{
    justify-content: center;
}
#products .pro{
    margin: 15px;
}
#promobanner{
    padding: 0 40px;
}

#promobanner .banner_box{
    min-width: 100%;
    height: 30vh;
    
}
#prombanner2 {
    padding: 0 40px;
}
#prombanner2 .banner_box {
    width: 28%;
}
#newsletter{
    height: 40vh;
}
#newsletter .form{
    width: 70%;
}

}
@media (max-width:477px){
    
    #header{
        padding: 10px 30px;
    }
    h2{
        font-size: 32px;

    }
    h1{
        font-size: 32px;
    }
    #mobile {
        padding: 10px 2px 0 0;
        
    }
    #FirstSection{
        padding: 0 20px;
        background-position: 55%;
    }
    #features{
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    }
    #features .fe_box{
        width: 130px;
        margin: 10px 0px 15px 0px;
    }
    #banner{
        height: 35vh;
    }
    #promobanner{
        padding: 0 40px;
    }
    #promobanner .banner_box {
        height: 40vh;
        background-position: center;
        background-size: cover;
       
    }
    #prombanner2 .banner_box {
     width: 100%;
    }
    #newsletter{
        height: 40vh;
    }
    #newsletter .form{
        width: 100%;
    }
}
